<html>
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }">
            <h2>{{ faceSnap.title | uppercase }}</h2>
            <p>{{ faceSnap.description }}</p>
            <button (click)="onViewFaceSnap()">VIEW</button>
        </div>
    </body>
</html>
